.wp-weather-shortcodes-widget {
	background:#e6e6e6;
	max-width:190px;
	padding:30px;
	text-align:center;
	font-size:12px;
	line-height:20px;
}

.wp-weather-shortcodes-widget .wp-weather-shortcodes-location {
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}

.wp-weather-shortcodes-widget .wp-weather-shortcodes-date {
	font-size:14px;
	font-style:italic;
}

.wp-weather-shortcodes-widget .wp-weather-shortcodes-temp {
	margin:20px 0;
	font-size:30px;
}

.wp-weather-shortcodes-widget .label {
	font-size:11px;
	font-style:italic;
}

.wp-weather-shortcodes-attribution {
	font-size:10px;
	margin:30px 0 0 0;
	font-style:italic;
	line-height:normal;
}
